body{
    /* Comentario*/
    /*Para cambiar colores primero se elige la etiqueta en la que se va a hacer una edición, luego se elige esta opción de back...-color y se escribe el color en inglés seguido de dos puntos*/
    /* Combinación de colores -> rgb(valor1, valor2, valor3)*/
    background: rgb(135, 173, 164);
    background: radial-gradient(circle, rgb(90, 94, 76) 100%);
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}

.tayvestidoRojo{
    width: 675px;
    border-radius: 10++3px;
}

.imagenes{
    text-align: center;
}

.canciones{
    background-color: rgb(199, 191, 192);
}